@model int

    <div class="card m-2">
        <div class="card-body bg-light h-75">
        There are @Model  restaurants here. <a asp-page="/Restaurants/List">See them all</a>
        </div>
    </div>
